<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ theme_url }}/../shared/img/first.ico">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/nav.css" type="text/css" />   
</head>


<!-- "Widescreen-mode" can be activated in portfolio/config/config.yml -->
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>

    <header>

        <div class="site-header">
            <a id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false" tabindex="1">
                <i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
                <span class="sr-only">Toggle Menu</span>
            </a>

            <div id="nav" role="navigation" tabindex="-1">
                <ul>
                    {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                        <li{% if page.id == current_page.id %} class="active" {% endif %}>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                        {% endfor %}
                </ul>
            </div>
        </div>

        <div class="header">
            <img src="{{ base_url }}/image/first-img.jpg"> </a>
            <p> Ranim Portfolio </p>
            <span> Design v3 </span>
        </div>
    </header>

    <div class="flash">
        <img src="{{ base_url }}/image/index.jpg">
    </div>
 

    <div class="main" id="main" role="main">
        <div class="container">
            {{ content }}

        </div>
    </div>

    <footer class="site-footer">
        <a href="https://github.com/Rahn20/design-v3"> GitHub </a>
    </footer>

    <script src="{{ theme_url }}/../shared/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared/js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared/js/responsive-navbar.js" type="text/javascript"></script>
</body>
</html>


